---
name: Release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  release_job:
    name: GoReleaser & Krew
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FUNKOLAB_BOT_PAT: ${{ secrets.FUNKOLAB_BOT_PAT }}
