name: Trivy Scan

on:
    workflow_dispatch:
    schedule:
        - cron: "17 17 * * *"

permissions:
    contents: read

jobs:
    build:
        permissions:
            contents: read
            security-events: write
        name: Scan
        runs-on: "ubuntu-20.04"
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6

            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@0.33.0
              with:
                  scan-type: "fs"
                  format: "sarif"
                  output: "trivy-results.sarif"
                  severity: "CRITICAL,HIGH"

            - name: Upload Trivy scan results to GitHub Security tab
              uses: github/codeql-action/upload-sarif@v4
              with:
                  sarif_file: "trivy-results.sarif"
                  category: Trivy
